body {
  /*font: 14px/2 "Open sans", sans-serif;*/
  height: 100%;
  width: 100%;
  margin: 0;
}

header {
  width: 100%;
}

img {
  background: no-repeat center center fixed;
  /*height: 50%;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  image-rendering: optimizeQuality;
}


.more-space {
  margin-bottom: 170px;
  margin-top: 120px;
  /*border: 1px solid orange;*/
}
header h1 {
  /*color: #34262B;*/
  -webkit-text-fill-color: #34262B; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #D3D3D3;
  font-size: 95px;
  font-weight: 700;
  margin-bottom: 80px;
  /*z-index: 10;*/
  /*border: 1px solid blue;*/
}
h1 {
  font-family: "News Cycle", sans-serif;
  /*background-color: #000;*/
}

.break1, .break2, .contact h2, .contact h3, p, header h4 {
  /*font-family: 'verdana' sans-serif;*/
}


/* balbal text*/
header h4 {     
  /*background-color: #000;*/
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: 2px;
  -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #fff;
  /*border: 1px solid yellow;*/

}

/* wika text*/
.red {              
  color:  #000000;
  font-size: 30px;
  margin-bottom: 100px;
  /*background-color: white;*/
  /*border: 1px solid red;*/
}

/* button text*/
.team {             
  border: 1px solid #FDFFFC;
  padding: 15px 45px 15px 45px;
  text-decoration: none;
  color: #F9F2F6;
  font-size: 28px;
  background: rgba(193, 41, 46, 0.6);
}

.team:hover {
  text-decoration: none;
  color: #F9F2F6;
  background-color: #610000;
}
/**Navbar customs**/
nav ul li {
  font-size: 17px;
  font-family: "News Cycle";
}
.about-us a {
  font-family: "News Cycle", serif;
}
.navbar-brand {
  font-size: 25px;
  font-family: "News Cycle";
}
.navbar-default {
  background-color: #FDFFFC;
  border: 0;
}
.navbar-default .navbar-brand {
  margin-left: 5%;
  color: #34262B;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FDFFFC;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #210A2A;
}
.navbar-default .navbar-nav > li > a {
  color: #210A2A;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #F9F2F6;
  background-color: transparent;
  border-bottom: 1px solid #F9F2F6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #F9F2F6;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #F9F2F6;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-inner {
  background: rgba(0, 0, 0, 0);
}
/**Navbar customs end**/

/***  balballers  ****/
.about-us {
  background-color: #34262B;
}
.about-us h1 {
  color: #C1292E;
  font-size: 60px;
  margin: 80px 80px 50px 80px;
  /*border: 1px solid yellow;*/
}
.about-us-p {
  font-size: 23px;
  color: #FDFFFC;
  margin: 0px 50px 13% 50px;
  /*margin: 50px 40px 13% 40px;*/
  /*border: 1px solid:blue;*/
}

.about-us2 {
  background-color: #000036;
  padding-bottom: 80px;
}
.about-us2 h1 {
  color: #c1292e;
  font-size: 60px;
  margin-top: 80px;
  margin-bottom: 50px;
}


.about-us-p2 {
  font-size: 20px;
  color: #FDFFFC;
  margin: 30px 20px 10px 20px;
  /*border: 1px solid violet;*/
}

.descript {
  /*border: 1px solid orange;*/
}

/*======== BREAK ====*/
.break2 {
  background: url(https://image.kkday.com/v2/image/get/s1.kkday.com/product_20941/20190104070458_mkZEJ/jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.break2 h3 {
  color: #010101;
  font-size: 70px;
  font-weight: bold;
  margin-top: 8%;
  margin-bottom: 8%;
}




@media screen and (max-width: 400px) {

.more-space {
  margin-bottom: 80px;
  margin-top: 100px;
  /*border: 1px solid orange;*/
}

header h1 {
  color: #34262B;
  font-size: 60px;
  margin-bottom: 50px;
  /*border: 1px solid blue;*/
}


header h4 {
  font-size: 30px;
  margin-bottom: 40px;
  /*border: 1px solid yellow;*/
}

.red {
  font-size: 20px;
  margin-bottom: 45px;
  /*border: 1px solid red;*/
}

.team {
  padding: 7px 20px 7px 20px;
  color: #F9F2F6;
  font-size: 18px;
}


.about-us h1, .about-us2 h1 {
  font-size: 40px;
  margin: 60px 50px 50px 50px;
  /*border: 1px solid black;*/
}
.about-us-p {
  font-size: 18px;
  margin-left: 18px;
  margin-right: 18px;
  /*border: 1px solid violet;*/
}

.about-us-p2 {
  font-size: 18px;
  margin: 30px 20px 10px 20px;
  /*border: 1px solid violet;*/
}



.break2 h3 {
  font-size: 50px;
}

